<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="contact">
    
    <div class="card"></div>

    <div class="card">
    <img src="../../assets/pics/irene.jpg" alt="Rahul" style="width:100%">
    <h1>Rahul Prajapat</h1>
    <p class="title">CSE Undergrad '23</p>
    <p>IIT Bombay(190050095)</p>
    <div class="social">
        <a href="https://github.com/buriXzura" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/rahul-prajapat-244aa31b9/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/reh_bul/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100037276821760" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="button">
        <p><button>Contact</button></p>
        <div class="hower">
            <p>+918107089248</p>
            <p>rickey26photon@gmail.com</p>
        </div>
    </div>
    </div>

    <div class="card">
    <img src="../../assets/pics/jennie.jpg" alt="Kamran" style="width:100%">
    <h1>Md Kamran</h1>
    <p class="title">CSE Undergrad '23</p>
    <p>IIT Bombay(190050066)</p>
    <div class="social">
        <a href="https://github.com/kamran0201" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/md-kamran-3861b7191/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/_kamikaze007_/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/md.kamran.1804" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="button">
        <p><button>Contact</button></p>
        <div class="hower">
            <p>+919199309711</p>
            <p>kamranthechampion01@gmail.com</p>
        </div>
    </div>

    <div class="card"></div>

</div>

</div>